@font-face {
  font-family: "Hero";
  src: url("Hero-Regular.ttf");
}

@font-face {
  font-family: "Hero";
  src: url("Hero-Bald.ttf");
}

@font-face {
  font-family: "Hero";
  src: url("Hero-Light.ttf");
}
